@import '../../../main-styles.scss';

.root {
  display: flex;
  width: 100%;
  position: relative;

  &:hover {
    .x-icon-button {
      opacity: 1;
      transform: scale(1);
    }
  }

  .x-icon-button {
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    right: -0.75rem;
    background: $dark;
    top: -0.25rem;
    background-image: url('../../../assets/delete.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.2s ease-out, transform 0.2s ease-in;
    transform: scale(0);
    opacity: 0;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.budget-item {
  display: flex;
  width: 100%;
  background-color: $light-grey;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: darken($light-grey, 4%);
  }

  .desc {
    flex-grow: 1;
    font-size: 1.25rem;
    margin-left: 0.25rem;
    display: flex;
    align-items: center;
  }

  .amount {
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
}

.income {
  p {
    color: $green;
  }

  .amount {
    background-color: $light-green;
  }
}

.expenses {
  p {
    color: $red;
  }

  .amount {
    background-color: $light-red;
  }
}