@import '../../../main-styles.scss';

.root {
  display: flex;
  width: 100%;
  position: relative;

  &:hover {
    .delete-icon {
      transform: scale(1);
      opacity: 1;
    }
  }

  .delete-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    right: -0.75rem;
    background: $dark;
    top: -0.65rem;
    transition: opacity 0.2s ease-out, transform 0.2s ease-in;
    transform: scale(0);
    opacity: 0;

    &:hover {
      transform: scale(1.2);
    }
  }

  .delete-icon:after {
    content: '';
    height: 1.1rem;
    border-left: 2px solid $red;
    position: absolute;
    transform: rotate(45deg);
    left: 11px;
    top: 0.2rem;
  }

  .delete-icon:before {
    content: '';
    height: 1.1rem;
    border-left: 2px solid $red;
    position: absolute;
    transform: rotate(-45deg);
    left: 11px;
    top: 0.2rem;
  }
}

.budget-item {
  display: flex;
  width: 100%;
  background-color: $light-grey;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: darken($light-grey, 4%);
  }

  .desc {
    flex-grow: 1;
    font-size: 1.25rem;
    margin-left: 0.25rem;
    display: flex;
    align-items: center;
  }

  .amount {
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
}

.income {
  p {
    color: $green;
  }

  .amount {
    background-color: $light-green;
  }
}

.expenses {
  p {
    color: $red;
  }

  .amount {
    background-color: $light-red;
  }
}