<!DOCTYPE html>
<html ng-app="app">

<head>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js"></script>
  <script src="app.js"></script>
  <script src="script.js"></script>
</head>

<body>
  <header class="jumbotron">
    <div class="container">
      <div class="row row-header">
        <div class="col-xs-12 col-sm-12">
          <h2>Welcome to Software development Course - 101</h2>
        </div>
      </div>
    </div>
  </header>

  <div class="container" ng-controller="studentDetails">
    <div class="row row-content">

      <div class="col-xs-12 col-sm-12">

        <form role="form" name="myForm" class="form-inline" id="course">
          <div class="form-group">
            <label for="studentName">
              <h4>Name of the Student:</h4></label>
            <input class="form-control" type="text" name="studentName" id="studentName" placeholder="Student Name" ng-model="a" required>
          </div>

          <div class="form-group">
            <label for="studentMarks">
              <h4>Student Score:</h4></label>
            <input class="form-control" name="studentMarks" id="studentMarks" placeholder="Student Marks" ng-model="b" required>
          </div>

          <button ng-click="myaddFunction()" type="submit" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">Add</button>

          <span data-ng-show="myForm.$pristine">
            <em>Enter student information before you click on Add.</em>
          </span>
        </form>
      </div>

    </div>

    <div class="row row-content">

      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr class="info">
              <th class="text-center">Student Name</th>
              <th class="text-center">Student Score</th>
              <th class="text-center" colspan="2">Action</th>
            </tr>
          </thead>
          <tbody align="center">
            <tr ng-repeat="z in student">
              <td>{{z.name}}</td>
              <td ng-class="{'yellow':(z.marks < 65)}">{{z.marks}}</td>
              <td>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="button" aria-pressed="false" autocomplete="off">Update</button>&nbsp&nbsp
              <button type="button" class="btn btn-danger btn-xs" data-toggle="button" aria-pressed="false" autocomplete="off">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr class="info">
              <th class="text-center" colspan=2>Class Statistics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Minimum Score</td>
              <td ng-bind="min" width="20%"></td>
            </tr>
            <tr>
              <td>Maximum Score</td>
              <td ng-bind="max" width="20%"></td>
            </tr>
            <tr>
              <td>Mean</td>
              <td ng-bind="mean" width="20%"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</body>

</html>