/* Styles go here */
.jumbotron {
    background-color: #337788;
  	color: floralwhite;
}

h2 {
    text-align: center;
}

th,tr,td {
	text-align: center;
}
.yellow {
    background-color: #ffd700;
}

.row-content {
    margin-top: 40px;
}

.inputstyle {
	background:transparent;
	border: none;
	width:100%;
	text-align: center;
}

.form-inline .form-group {
    margin-right: 40px;
}